body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  .tool-select {
    width: 200px;
    padding: 20px;
  }
  .konva-container {
    background-color: beige;
    flex-grow: 1;
    height: 100%;

    .text-tool-textarea {
      position: absolute;
      resize: none;
      border: none;
      background-color: transparent;
      outline: none;
      overflow: hidden;
    }

  }
  .konva-container.tool-enabled {
    cursor: text;
  }
}